<mat-card appearance="outlined">
    <mat-toolbar color="primary">
      <span>Cursos disponíveis</span>
      <button mat-mini-fab color="accent" aria-label="Adicionar um curso">
        <mat-icon (click)="onAdd()">add</mat-icon>
      </button>
    </mat-toolbar>

  <div class="column-flex mat-elevation-z8">
    <app-courses-list
      *ngIf="courses$ | async as courses; else loading"
      [courses]="courses"
    ></app-courses-list>

    

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>
